[2022-06-11 03:29] ItsRoy69 opened #1 "Doctor Section"
### Description

For understanding of UI/UX check [here](https://www.figma.com/file/6qxdJMmXpIlXS3sWEAvVt8/Untitled?node-id=0%3A1)

Create a section separately for displaying doctors where there'll be categorised according to their Specialization like General Physician, Ear-Nose-Throat (ENT) Specialist, Gynecologist, Obstetrician, Laparoscopic Surgeon, General Surgeon, Proctologist, Hair Transplan

[2022-06-11 03:51] ItsRoy69 opened #2 "Creating Registration form for Doctors"
### Description

Create a section separately for registration of doctors where they can register themselves on this website .
It should have following points :
 - First name
 - Last name
 - Hospital
 - Specialization like General Physician, Ear-Nose-Throat (ENT) Specialist, Gynecologist, Obstetrician, Laparoscopic Surgeon, General Surgeon, Proctologist, Hair Transplant Surgeon, Plastic Reconstruct

[2022-06-11 04:01] ItsRoy69 opened #3 "Login Page for Doctors"
### Description

Create a section separately for login of doctors where they can register themselves on this website .
It should have following points :
 - Email
 - Password

Make sure the page is responsive in MOBILE , TAB . DESKTOP , LAPTOP
Add screenshots for the same.

### Screenshots

_No response_

### Additional information

Guidelines ⚠
I will follow the [Setup Guidelines](https://github.c

[2022-06-11 11:13] ItsRoy69 opened #4 "User Registration"
### Description

Create a section separately for registration of users where they can register themselves on this website .
It should have following points :
 - First name
 - Last name
 - Email
 - Password
 - Exact Location

Make sure the page is responsive in MOBILE , TAB . DESKTOP , LAPTOP
Add screenshots for the same.

### Screenshots

_No response_

### Additional information

Guidelines ⚠
I w

[2022-06-11 11:17] ItsRoy69 opened #5 "Footer Section"
### Description
For understanding of UI/UX check [here](https://www.figma.com/file/6qxdJMmXpIlXS3sWEAvVt8/Untitled?node-id=0%3A1)
Create a separate footer section  in this website eventhough there is a "contact" section named as "footer" .
Do the necessary changes by renaming files and debug.

Make sure the page is responsive in MOBILE , TAB . DESKTOP , LAPTOP
Add screenshots for the same.

### Sc

[2022-06-11 13:11] MarkWasfy00 commented on #5
There's a component that called footer which is the ('contact')

[2022-06-11 15:39] ItsRoy69 commented on #5
Make changes in the folder by adding many more features in the footer section like social media links, copyright, logo, one-liner details of the website.

[2022-06-11 16:38] ItsRoy69 opened #6 "Responsiveness of Homepage"
### Description

Make the homepage as responsive in MOBILE , TAB . DESKTOP , LAPTOP.

### Screenshots

_No response_

### Additional information

Guidelines ⚠
I will follow the [Setup Guidelines](https://github.com/ItsRoy69/DocTalk/blob/main/rules/Setup.md)
I will follow the [Contributing Guidelines](https://github.com/ItsRoy69/DocTalk/blob/main/CONTRIBUTING.md)
I will follow the [Code of Conduct]

[2022-06-11 16:43] ItsRoy69 opened #8 "We can first build the doctors page, then we can build a page which can help in one-to-one conversation like other social-media platforms without breaching of personal information like numbers."
We can first build the doctors page, then we can build a page which can help in one-to-one conversation like other social-media platforms without breaching of personal information like numbers.

_Originally posted by @ItsRoy69 in https://github.com/ItsRoy69/DocTalk/discussions/7#discussioncomment-2929338_

[2022-06-11 16:59] fduschka commented on #3
Isn't this the same as #2?

[2022-06-11 18:23] ItsRoy69 commented on #3
Nope. In registration doctors have to register themselves under this website whereas under login page they won't have to register for the nect time. They'll only have to login using password and email ID .

[2022-06-12 01:36] #2 closed

[2022-06-12 01:50] ItsRoy69 opened #11 "Add Doctor section in Services section in HomePage"
### Description

Add separate box for "doctors" under Services section in HomePage so that users can get infos about Doctors and get consultation.

In this section: Add another box

### Screenshots

![2022-06-12](https://user-images.githubusercontent.com/78967360/173210812-28ded2db-74d2-4a6d-8a26-50ce180e306b.png)

### Additional information

Guidelines ⚠
I will follow the [Setup Guidelines](https

[2022-06-12 02:04] ItsRoy69 opened #12 "UI/UX in HomePage"
### Description

Make some changes in the homepage with some animations and minimise the contents of the website which is hurting to our eyes which will make it look more attractive. You can use any libraries to add animation and effects but it should be supported by ReactJS.

### Screenshots

_No response_

### Additional information

Guidelines ⚠
I will follow the [Setup Guidelines](https://gith

[2022-06-12 06:10] fduschka commented on #3
This is included within PR #10 under the route /doctor/login
<img width="968" alt="Bildschirmfoto 2022-06-11 um 21 03 02" src="https://user-images.githubusercontent.com/63229744/173219427-dae33f0b-f53c-4362-bbb3-6e45391113e9.png">

[2022-06-12 06:18] fduschka opened #14 "Backend Implementation for Doctor Registration / Login"
### Description

Add backend routes for creating users in the database and logging them in.
User Authentication could be done using Json-Web-Tokens.

### Screenshots

_No response_

### Additional information

_No response_

[2022-06-13 03:41] nitin094-hub commented on #4
Can I take up this issue?

[2022-06-13 03:44] nitin094-hub commented on #4
UI should be the same as the doctor register?

[2022-06-13 04:04] ItsRoy69 commented on #4
UI should be same as the doctor but if you want you can add illustrations so that the UI looks cool.

[2022-06-13 04:06] nitin094-hub commented on #4
what are illustrations?

[2022-06-13 04:14] ItsRoy69 commented on #4
![2022-06-13](https://user-images.githubusercontent.com/78967360/173278354-461379a7-6d72-458f-a8d2-8b1e9d47876a.png)

[2022-06-13 06:06] #3 closed

[2022-06-13 06:07] #4 closed

[2022-06-13 06:08] ItsRoy69 opened #17 "Backend Implementation for User Registration / Login"
### Description

Add backend for User Registration / Login in Database with
Create a section separately for registration of users where they can register themselves on this website .
It should have following points :

First name
Last name
Email
Password
Exact Location
Make sure the page is responsive in MOBILE , TAB . DESKTOP , LAPTOP
Add screenshots for the same.

### Screenshots

_No response_

[2022-06-13 06:11] ItsRoy69 opened #18 "User Login Frontend 📐"
### Description

Make the login page as responsive in MOBILE , TAB . DESKTOP , LAPTOP.

### Screenshots

_No response_

### Additional information

Guidelines ⚠
I will follow the [Setup Guidelines](https://github.com/ItsRoy69/DocTalk/blob/main/rules/Setup.md)
I will follow the [Contributing Guidelines](https://github.com/ItsRoy69/DocTalk/blob/main/CONTRIBUTING.md)
I will follow the [Code of Conduc

[2022-06-14 00:50] alagumuthiah commented on #11
Hi, I have added the doctor section. Included two Pages under Pages folder Doctorinfo.jsx and Doctorcontact.jsx
Included the doctor section under service.

I have done only the client side for now, I would also like to include the server side #1 Doctor section as well.

And edited the image part by using Card-6 image for the Doctors Section. Let me know if there is any another card image for the d

[2022-06-14 02:41] meenaljain0303 commented on #18
i would like to work on this issue

[2022-06-14 03:24] #11 closed

[2022-06-14 05:02] #8 closed

[2022-06-14 06:08] nitin094-hub commented on #1
Can I work on this?

[2022-06-14 07:00] nitin094-hub commented on #1
I have to separately display names of doctors according to their specializations, right?

[2022-06-14 07:45] ItsRoy69 commented on #1
Yes.. like cards

[2022-06-14 07:53] nitin094-hub commented on #1
I am planning to make something like this. When some user clicks on this box, it will show all the doctor's names with this particular specialization.
![Screenshot (112)](https://user-images.githubusercontent.com/73329655/173515131-3670f041-c012-4948-b3e8-3f0f6de7a211.png)
.

[2022-06-14 13:27] nitin094-hub commented on #1
Where and what is on the doctorinfo page?

[2022-06-14 13:51] ItsRoy69 commented on #17
Go for it

[2022-06-14 14:36] Mutesa-Cedric commented on #17
what will a user have?

[2022-06-14 18:31] #18 closed

[2022-06-14 18:33] ItsRoy69 opened #21 "Create Navbar as the Figma design"
### Description

For understanding of UI/UX check [here](https://www.figma.com/file/6qxdJMmXpIlXS3sWEAvVt8/Untitled?node-id=0%3A1)

Make sure the page is responsive in MOBILE , TAB . DESKTOP , LAPTOP
Add screenshots for the same.

### Screenshots

![2022-06-15 (8)](https://user-images.githubusercontent.com/78967360/173748020-496c0dae-b97d-4e09-9585-31be9d0738e2.png)

### Additional information

Gu

[2022-06-14 18:33] ItsRoy69 opened #22 "Add Header Section"
### Description

For understanding of UI/UX check [here](https://www.figma.com/file/6qxdJMmXpIlXS3sWEAvVt8/Untitled?node-id=0%3A1)

Make sure the page is responsive in MOBILE , TAB . DESKTOP , LAPTOP
Add screenshots for the same.

### Screenshots

![2022-06-15 (6)](https://user-images.githubusercontent.com/78967360/173738423-fca32810-21e9-4622-b7a0-16f20cb5459e.png)

### Additional information

Gu

[2022-06-14 18:34] ItsRoy69 opened #23 "Add Services section in HomePage"
### Description

For understanding of UI/UX check [here](https://www.figma.com/file/6qxdJMmXpIlXS3sWEAvVt8/Untitled?node-id=0%3A1)

Make sure the page is responsive in MOBILE , TAB . DESKTOP , LAPTOP
Add screenshots for the same.

### Screenshots

![2022-06-15 (2)](https://user-images.githubusercontent.com/78967360/173738173-ad7829f9-e1d5-4f48-af55-44f6a2079de1.png)

### Additional information

Gu

[2022-06-14 18:36] ItsRoy69 opened #24 "Add "Helping Hand" section"
### Description

For understanding of UI/UX check [here](https://www.figma.com/file/6qxdJMmXpIlXS3sWEAvVt8/Untitled?node-id=0%3A1)

"Helping Hand"  section should be done in the Home.jsx file . You don't need to make another file to add this section.

Code should be clean and section should be divided with comments so that viewers can differentiate the code.

Make sure the page is responsive in MO

[2022-06-14 18:41] ItsRoy69 commented on #17
Create a section separately for registration of users where they can register themselves on this website .
It should have following points :

First name
Last name
Email
Password
Exact Location
Make sure the page is responsive in MOBILE , TAB . DESKTOP , LAPTOP

[2022-06-14 18:43] ItsRoy69 commented on #1
You should check the community guidelines and any extension can be used which will be running smoothly when we press "npm start".

[2022-06-14 18:46] Mutesa-Cedric commented on #17
finishing in one hour!

[2022-06-15 04:39] ItsRoy69 opened #27 "Add contact section in HomePage"
### Description

For understanding of UI/UX check [here](https://www.figma.com/file/6qxdJMmXpIlXS3sWEAvVt8/Untitled?node-id=0%3A1)

Make sure the page is responsive in MOBILE , TAB . DESKTOP , LAPTOP
Add screenshots for the same.

### Screenshots

![2022-06-15](https://user-images.githubusercontent.com/78967360/173737881-132d0660-79c5-42c6-abc7-f17d95b2e873.png)

### Additional information

Guidel

[2022-06-15 05:25] Mutesa-Cedric commented on #17
https://github.com/ItsRoy69/DocTalk/pull/25#issue-1271269187

completed!

[2022-06-15 07:29] deeola commented on #27
Hello Roy, is this up for grabs?

[2022-06-15 07:31] prabhpreet-code commented on #27
I would love to work on this...

[2022-06-15 08:07] ItsRoy69 commented on #27
Didn't understood...please elaborate

[2022-06-15 08:18] deeola commented on #27
I can see you've assigned it already, can I work on others?

[2022-06-15 08:20] ItsRoy69 commented on #27
Yes you can work on other sections..

[2022-06-15 10:46] nitin094-hub commented on #21
I would like to work on this

[2022-06-15 10:47] nitin094-hub commented on #21
You want to replace the old navbar, right?

[2022-06-15 10:52] ItsRoy69 commented on #21
I want the navbar to be exact as I've done in the figma design. + The above image

[2022-06-15 10:53] nitin094-hub commented on #21
But there is already a navbar!

[2022-06-15 11:01] ItsRoy69 commented on #21
Kindly follow the steps and contributing guidelines before workimg on the project

[2022-06-15 12:29] ItsRoy69 commented on #21
Yes

[2022-06-15 13:33] deeola commented on #24
Hello, I would love to work on this

[2022-06-15 13:46] prabhpreet-code commented on #27
@ItsRoy69 do I need to structure validation and error handling part as well or just simple frontend component will work fine?

One thing more that the box shadow that is mentioned on figma is to be put on hover or simply under the input element without hover?

[2022-06-15 14:59] ItsRoy69 commented on #27
Nope just the frontend...

Box shadow is just the input without hover.. you can add hover on button

[2022-06-15 17:39] MarkWasfy00 commented on #21
can you assign it to me

[2022-06-15 17:46] ItsRoy69 commented on #21
You can work on other issues... Like banner, footer, etc.

I'll assign if @nitin094-hub fails to submit the task within Friday.

[2022-06-15 17:50] MarkWasfy00 commented on #21
i already worked on it and almost finished it

[2022-06-15 19:00] ItsRoy69 commented on #21
Sure

[2022-06-15 19:00] ItsRoy69 commented on #21
Till then you can work on other sections

[2022-06-16 06:03] #21 closed

[2022-06-16 06:38] nitin094-hub commented on #23
Can I work on this issue?

[2022-06-16 07:15] ItsRoy69 commented on #23
assigned

[2022-06-16 07:52] prabhpreet-code commented on #27
Hello @ItsRoy69... I have done making it for desktop and one thing I would like to ask is that for making it responsive should I inculcate media queries or should simply work fine with width as percentages.
Also am enclosing the ss for the desktop version and pls suggest if some changes are needed.
![Screenshot (2145)](https://user-images.githubusercontent.com/66708921/174020518-730a26b7-5be9-45db

[2022-06-16 07:54] ItsRoy69 commented on #27
Use media queries and this looks great .

[2022-06-16 07:54] prabhpreet-code commented on #27
The second screenshot is for hovering over the button element and just trying something different so u can suggest whether to keep it or not.

[2022-06-16 07:55] prabhpreet-code commented on #27
Cool thanks!

[2022-06-16 13:04] ItsRoy69 commented on #22
go for it

[2022-06-16 13:16] ItsRoy69 commented on #22
Give a font which gets compatible with website

[2022-06-16 13:56] prabhpreet-code commented on #27
Can you look if there are some changes needed to be made...?
![Screenshot (2147)](https://user-images.githubusercontent.com/66708921/174085962-536c81e0-c242-490f-aa9d-7d46429314bf.png)
![Screenshot (2148)](https://user-images.githubusercontent.com/66708921/174085980-fbcb4ce5-e72d-4ae2-8667-a96c8b59f841.png)
![Screenshot (2149)](https://user-images.githubusercontent.com/66708921/174086000-ac8f07dd-

[2022-06-16 13:59] ItsRoy69 commented on #27
Looks good

[2022-06-16 14:01] deeola commented on #24
Hello Roy, I'm working on this right now and I have some questions I'll need to ask. Design-wise.

1) Is it possible to reduce the number of shadows we have on this design? It is a little bit too much, especially the ones around the icons' borders. The card shadow makes sense but I feel the blue box shadow makes it look not so good. That's your call.

2) Can we have a change of icons to probably f

[2022-06-16 14:09] ItsRoy69 commented on #24
For sure. Do changes in UI/UX and being a developer myself I feel like experimenting stuffs is important. I made the design just because there are many other developers who dont know what to do. They are confused. So, it'll be better if you make some changes and make a pull request.

At the end of the day, opensource is not just about PR ... Its more than that. So do whatever you feel like .. just

[2022-06-16 14:42] ItsRoy69 commented on #24
Sure

[2022-06-16 14:45] ItsRoy69 commented on #27
Push the code from your local storage to the forked repository and make a pull request in this repo.

[2022-06-16 17:42] #23 closed

[2022-06-16 17:44] ItsRoy69 opened #33 "Add hover feature in buttons of Services Section"
### Description

Add hover feature in buttons of Services Section with a bit of realistic css in it

### Screenshots

_No response_

### Additional information

Guidelines ⚠
I will follow the [Setup Guidelines](https://github.com/ItsRoy69/DocTalk/blob/main/rules/Setup.md)
I will follow the [Contributing Guidelines](https://github.com/ItsRoy69/DocTalk/blob/main/CONTRIBUTING.md)
I will follow the [C

[2022-06-16 17:47] #22 closed

[2022-06-17 05:22] #17 closed

[2022-06-17 09:00] prabhpreet-code commented on #27
While I was making a pull request, in description box it was written that I have worked under which open source event.. so can you please tell me that what should I write here as currently m not aware about any of the events or should I left it as blank?

[2022-06-17 10:28] ItsRoy69 commented on #27
leave it blank..because you've not registered under any opensource events now

[2022-06-17 10:58] #27 closed

[2022-06-17 11:45] prabhpreet-code commented on #14
Could you please elaborate what exactly things are needed to be done? Like do we need to design mongo schema as well for this? or designing all CRUD operations or just creating a user only?

[2022-06-17 12:40] MarkWasfy00 commented on #33
can i restore the old photo that i made in heading cause the new one have some problems + fixing the contact us section and unit all the hover state in all buttons

[2022-06-17 12:56] ItsRoy69 commented on #33
1. The old photo took a lot more space and alignment was broken because it was just extracted directly from the figma file alongwith the shadow effects.. instead of adjusting the shadow manually. So if you can work on that.. then go for it.
2. You can put hover state on the buttons.
3. You can improve the design in the contact section with your own UI/UX.
4.

[2022-06-18 05:17] #33 closed

[2022-06-18 10:26] nitin094-hub commented on #5
Is someone working on this?

[2022-06-18 10:47] ItsRoy69 commented on #5
Nope

[2022-06-18 11:57] nitin094-hub commented on #5
Can you assign this to me?

[2022-06-19 06:28] #5 closed

[2022-06-20 04:00] ItsRoy69 opened #39 "Add "About" section"
### Description

For understanding of UI/UX check [here](https://www.figma.com/file/6qxdJMmXpIlXS3sWEAvVt8/Untitled?node-id=0%3A1)

"About"  section should be done in the Home.jsx file . You don't need to make another file to add this section.

Code should be clean and section should be divided with comments so that viewers can differentiate the code.

Make sure the page is responsive in MOBILE ,

[2022-06-20 04:27] nitin094-hub commented on #24
Is anyone working on this?

[2022-06-20 05:06] ItsRoy69 commented on #24
Deeola had previously asked to assign him but its been 4 days....so if you wanna work in this iaaue thn i can assign you

[2022-06-20 05:14] #1 closed

[2022-06-20 05:15] ItsRoy69 opened #40 "Create a Doctor Page"
### Description

For understanding of UI/UX check [here](https://www.figma.com/file/6qxdJMmXpIlXS3sWEAvVt8/Untitled?node-id=0%3A1)

Create a page separately for displaying doctors where there'll be categorised according to their Specialization like General Physician, Ear-Nose-Throat (ENT) Specialist, Gynecologist, Obstetrician, Laparoscopic Surgeon, General Surgeon, Proctologist, Hair Transplant S

[2022-06-20 05:29] ItsRoy69 opened #41 "Upgrade Contact Section"
### What would you like to share?

For understanding of UI/UX check [here](https://www.figma.com/file/6qxdJMmXpIlXS3sWEAvVt8/Untitled?node-id=0%3A1)

Code should be clean and section should be divided with comments so that viewers can differentiate the code.

Make sure the page is responsive in MOBILE , TAB . DESKTOP , LAPTOP
Add screenshots for the same.

![2022-06-20 (3)](https://user-images.git

[2022-06-20 06:18] nitin094-hub commented on #24
Please assign this to me.

On Mon, 20 Jun, 2022, 10:37 am Jyotirmoy Roy, ***@***.***>
wrote:

[2022-06-20 11:26] Sarrene9 commented on #39
I would love to work on this...

[2022-06-20 11:30] Sarrene9 commented on #41
I would love to work on this... Can I take this on?

[2022-06-20 11:44] ItsRoy69 commented on #41
Go for it

[2022-06-20 11:45] ItsRoy69 commented on #39
Go for it 🚀

[2022-06-20 12:46] Amisha0606 commented on #41
Are we supposed to create  a similar page as shown in the screenshot?

[2022-06-20 13:22] ItsRoy69 commented on #41
Yes

[2022-06-21 03:06] ItsRoy69 opened #42 "UI/UX of Footer"
### Description

Make some changes in the footer with some animations and colors which will make it look more attractive. You can use any libraries to add animation and effects but it should be supported by ReactJS.

### Screenshots

_No response_

### Additional information

Guidelines ⚠
I will follow the [Setup Guidelines](https://github.com/ItsRoy69/DocTalk/blob/main/rules/Setup.md)
I will foll

[2022-06-21 03:15] ItsRoy69 opened #43 "Patients Registration"
### Description

Create a page separately for registration of patients where there'll be categorised according to their diseases.

For referennce check [here](https://www.figma.com/file/6qxdJMmXpIlXS3sWEAvVt8/Untitled?node-id=0%3A1)

Make sure the page is responsive in MOBILE , TAB . DESKTOP , LAPTOP
Add screenshots for the same.

### Screenshots

![2022-06-21](https://user-images.githubuserconten

[2022-06-21 05:59] #24 closed

[2022-06-21 11:44] nitin094-hub commented on #43
Can you assign this to me?

[2022-06-21 17:06] nitin094-hub commented on #43
Is this registration only for plasma donors or there are any other categorizations?

[2022-06-21 17:12] ItsRoy69 commented on #43
Patients registration is only for doctor section.
This is just an example given to show on how patient registration form should look like.

Plasma donor is given as an example.

[2022-06-21 17:17] nitin094-hub commented on #43
So I only have to make this form, right?

[2022-06-21 17:44] Amisha0606 commented on #41
I want to work on it. Can I?

[2022-06-21 17:55] ItsRoy69 commented on #41
Let @Sarrene9 work on this issue... If she fails to submit the soln within friday then I'll assign you. Till then I'll suggest you to work on other issues

[2022-06-22 03:15] ItsRoy69 opened #45 "Registration of donors"
### Description

Create a page separately for registration of donors with id which will change according to their requirements like Ambulance service, Medicine Supply, Oxygen Supply, Plasma Donate, Hospitals Beds

For reference check [here](https://www.figma.com/file/6qxdJMmXpIlXS3sWEAvVt8/Untitled?node-id=0%3A1)

Make sure the page is responsive in MOBILE , TAB . DESKTOP , LAPTOP
Add screenshots

[2022-06-22 06:54] #43 closed

[2022-06-22 07:06] nitin094-hub commented on #45
Isn't this the same as patient registration?

[2022-06-22 07:47] ItsRoy69 commented on #45
Yeah.. just the text and features will be different

[2022-06-22 10:02] nitin094-hub commented on #45
Then why need this separate issue?

[2022-06-22 15:20] #40 closed

[2022-06-23 04:14] nitin094-hub commented on #45
So what changes do I have to make on the patient's registration?

[2022-06-23 11:31] nitin094-hub commented on #39
Is anyone working on this?

[2022-06-23 15:23] Amisha0606 commented on #41
Yupp okay.

[2022-06-23 16:10] #45 closed

[2022-06-24 07:05] nitin094-hub commented on #41
Can I work on this?

[2022-06-24 07:10] ItsRoy69 commented on #41
@Amisha0606 has been assigned to work on this issue .If she fails to subimit within next  week I'll assign @nitin094-hub

[2022-06-24 07:57] nitin094-hub commented on #41
But I have already completed it!

[2022-06-24 08:04] ItsRoy69 commented on #41
Ui changes

[2022-06-24 13:06] Amisha0606 commented on #41
hey @ItsRoy69 I forked this repo and cloned it in my system but IDK why but the project isn't visible in the browser. It only shows a white blank screen and nothing else. however, I can see the title and fav icon.
<img width="1440" alt="Screenshot 2022-06-24 at 6 36 07 PM" src="https://user-images.githubusercontent.com/86039642/175542167-5bc63299-2f23-4647-afbf-31fa84940f1a.png">

[2022-06-24 18:08] Amisha0606 commented on #41
Yupp. yup. I don't have much idea of react. You can give it to someone else. But yeah I'll try to learn solve this issue soon.

[2022-06-24 18:23] ItsRoy69 commented on #41
For sure

[2022-06-25 06:50] ItsRoy69 opened #51 "Plasma Donor Registration"
### Description

Create a page separately for registration of plasma donors in "DonatePlasma.js" file with features given in the screenshot.

For reference check [here](https://www.figma.com/file/6qxdJMmXpIlXS3sWEAvVt8/Untitled?node-id=0%3A1)

Make sure the page is responsive in MOBILE , TAB . DESKTOP , LAPTOP
Add screenshots for the same.

### Screenshots

![2022-06-25](https://user-images.github

[2022-06-26 05:57] Sarrene9 commented on #51
Hi I would like to work on this

[2022-06-26 05:57] Sarrene9 commented on #51
The last time I completed the About and Contact task but got unassigned before Friday.

[2022-06-26 05:58] ItsRoy69 commented on #51
Try to complete this before friday

[2022-06-26 06:01] Sarrene9 commented on #51
Alright, noted on that

[2022-06-30 03:58] nitin094-hub commented on #51
Is anyone working on this?

[2022-06-30 05:48] Sarrene9 commented on #51
Will commit today ya

[2022-06-30 15:23] Sarrene9 commented on #51
Done. Committed to the fork.

[2022-06-30 15:35] ItsRoy69 commented on #51
Make a PR

[2022-07-04 13:54] #51 closed

[2022-07-04 13:58] ItsRoy69 opened #53 "Registration of Oxygen Suppliers"
### Description

Create a page separately for registration of Oxygen Suppliers in "RegOxygenSupply.js" file with features given in the screenshot.

For reference check [here](https://www.figma.com/file/6qxdJMmXpIlXS3sWEAvVt8/Untitled?node-id=0%3A1)

Make sure the page is responsive in MOBILE , TAB . DESKTOP , LAPTOP
Add screenshots for the same.

Given screenshot is just for reference

### Screens

[2022-07-04 13:59] ItsRoy69 opened #54 "registration of Medicine Suppliers"
### Description

Create a page separately for registration of Medicine Suppliers in "RegMedicine.js" file with features given in the screenshot.

For reference check [here](https://www.figma.com/file/6qxdJMmXpIlXS3sWEAvVt8/Untitled?node-id=0%3A1)

Make sure the page is responsive in MOBILE , TAB . DESKTOP , LAPTOP
Add screenshots for the same.

Given screenshot is just for reference

### Screensho

[2022-07-04 14:02] ItsRoy69 opened #55 "registration of Hospitals Beds"
### Description

### Description

Create a page separately for registration of Hospital Bed Suppliers in "RegHospitalBed.js" file with features given in the screenshot.

For reference check [here](https://www.figma.com/file/6qxdJMmXpIlXS3sWEAvVt8/Untitled?node-id=0%3A1)

Make sure the page is responsive in MOBILE , TAB . DESKTOP , LAPTOP
Add screenshots for the same.

Given screenshot is just for

[2022-07-08 16:42] Sarrene9 commented on #55
I would like to work on this

[2022-07-10 20:58] Sarrene9 commented on #54
I have done this as well. is it okay to push together?

[2022-07-10 23:19] ItsRoy69 commented on #54
Sure

[2022-07-19 20:21] rohitroy-github commented on #42
Hey @ItsRoy69 > I tried enhancing the Footer in my latest PR. Have a check.

[2022-07-20 01:54] #42 closed

[2022-07-20 02:33] ItsRoy69 opened #58 "[FEATURE] <description>"
### Description

q

### Screenshots

_No response_

### Additional information

_No response_

[2022-07-21 08:01] Roshani9731 commented on #12
@ItsRoy69 Can I work on this?

[2022-07-21 08:02] Roshani9731 commented on #6
@ItsRoy69 Can I work on this issue?

[2022-07-21 10:40] ItsRoy69 commented on #6
Sure

[2022-07-25 05:52] ItsRoy69 opened #59 "Plasma Donor Page"
### Description

Make the "plasmadonor" page which will show the list of plasma donors who has registered under this website... with some animations to look it more attractive. You can use any libraries to add animation and effects but it should be supported by ReactJS.

### Screenshots

_No response_

### Additional information

Guidelines ⚠
I will follow the [Setup Guidelines](https://github.com

[2022-07-25 05:54] ItsRoy69 opened #60 "Hospital Beds Page"
### Description

Make the "hospitalbed" page which will show the list of hospital bed that has been registered under this website... with some animations to look it more attractive. You can use any libraries to add animation and effects but it should be supported by ReactJS.

### Screenshots

_No response_

### Additional information

Guidelines ⚠
I will follow the [Setup Guidelines](https://githu

[2022-07-25 05:56] ItsRoy69 opened #61 "Oxygen Suppliers Page"
### Description

Make the "osupplier" page which will show the list ofoxygen suppliers that has been registered under this website... with some animations to look it more attractive. You can use any libraries to add animation and effects but it should be supported by ReactJS.

### Screenshots

_No response_

### Additional information

Guidelines ⚠
I will follow the [Setup Guidelines](https://gith

[2022-07-25 05:58] ItsRoy69 opened #62 "Ambulances Page"
### Description

Make the "ambulances" page which will show the list of  ambulances that has been registered under this website... with some animations to look it more attractive. You can use any libraries to add animation and effects but it should be supported by ReactJS.

### Screenshots

_No response_

### Additional information

Guidelines ⚠
I will follow the [Setup Guidelines](https://github.

[2022-07-25 06:01] ItsRoy69 opened #63 "Medicines Page"
### Description

Make the "medicines" page which will show the list of medicines that has been registered under this website... with some animations to look it more attractive. You can use any libraries to add animation and effects but it should be supported by ReactJS.

### Screenshots

_No response_

### Additional information

Guidelines ⚠
I will follow the [Setup Guidelines](https://github.com

[2022-07-25 06:05] ItsRoy69 opened #64 "Registration of Ambulance Suppliers"
### Description

Create a page separately for registration of Ambulance Suppliers in "RegAmbulance.js" file with features given in the screenshot.

For reference check [here](https://www.figma.com/file/6qxdJMmXpIlXS3sWEAvVt8/Untitled?node-id=0%3A1)

Make sure the page is responsive in MOBILE , TAB . DESKTOP , LAPTOP
Add screenshots for the same.

Given screenshot is just for reference

### Screens

[2022-07-25 12:18] #64 closed

[2022-07-25 12:32] #55 closed

[2022-07-25 12:32] #53 closed

[2022-07-25 12:37] ItsRoy69 opened #66 ""About Us" section inside "Home.js""
### Description

Make the "About Us" section inside "Home.js" page which will tell about this website... with some animations to look it more attractive. You can use any libraries to add animation and effects but it should be supported by ReactJS.

You can check the screenshot for getting an idea

### Screenshots

![2022-07-25 (23)](https://user-images.githubusercontent.com/78967360/180778989-c47e

[2022-07-26 02:16] ItsRoy69 opened #67 "Linking of Navbar"
### Description

Link the "Navbar" section inside "Navbar.js" page to those different sections in this website... You can use any libraries but it should be supported by ReactJS.

### Screenshots

_No response_

### Additional information

Guidelines ⚠
I will follow the [Setup Guidelines](https://github.com/ItsRoy69/DocTalk/blob/main/rules/Setup.md)
I will follow the [Contributing Guidelines](http

[2022-07-26 05:23] Suman373 commented on #62
From where are we getting the info? Is there any api endpoint?

[2022-07-26 15:38] ItsRoy69 commented on #62
api folder will be created later.. after the setup of backend.. right now just the hardcode will be fine

[2022-07-27 05:23] Suman373 commented on #62
Okk

[2022-07-27 15:26] Rajarshi38 commented on #67
Can you please elaborate more?

[2022-07-27 16:13] ItsRoy69 commented on #67
If you look closely to the website you'll see the navbar links are not working so .. you'll have to use <Link> and link navbar with different sections of the website

[2022-07-27 16:55] Rajarshi38 commented on #67
Oh ok! I can do this. Can you assign it to me?

[2022-07-28 06:49] Rajarshi38 commented on #67
I cannot see the itsroy69-doctalk branch, i can only see the main branch.
![image](https://user-images.githubusercontent.com/72081132/181436979-a445e483-9a56-44b3-a780-9187fb95eb49.png)

[2022-07-28 11:30] #67 closed

[2022-07-29 06:26] rohitroy-github commented on #66
The text you have used in the screenshot, that very text will be used in the Avout Us section right ?

[2022-07-29 07:30] rohitroy-github commented on #66
Check this out >

![image](https://user-images.githubusercontent.com/68563695/181707539-2a99b8b6-d7da-49f5-a0f8-f2ea37b001df.png)

![image](https://user-images.githubusercontent.com/68563695/181707711-7d260f14-a321-4fe6-ad91-17f80d69b9eb.png)

I have made a PR for this.

[2022-07-30 04:03] rohitroy-github commented on #54
Is this issue still open to work, @ItsRoy69 ?

[2022-07-30 08:55] paradigm-lab opened #71 "[OTHER]"
### What would you like to share?

Containerizing the application using (Docker).

### Additional information

But before that we should need to identify which architecture does the application use. But it doesn't matter match

[2022-07-30 11:34] ItsRoy69 commented on #71
Go with it

[2022-07-30 11:36] ItsRoy69 commented on #54
Yes

[2022-07-30 11:37] paradigm-lab commented on #71
We can just start as simple as possible. So is it a BFF Architecture

[2022-07-31 22:37] paradigm-lab commented on #71
Sorry for been late to submit i am having a problem with my computer. Yesterday before my computer break i was starting the application for the front-end it started fine but having problem with starting the back-end

[2022-08-01 02:02] ItsRoy69 commented on #71
Backend is not yet complete

[2022-08-02 01:40] ItsRoy69 opened #73 "Backend of the patients signup & signin page"
### Description

Set the Backend of the signup & signin page and connect with frontend

### Screenshots

_No response_

### Additional information

Guidelines ⚠
I will follow the [Setup Guidelines](https://github.com/ItsRoy69/DocTalk/blob/main/rules/Setup.md)
I will follow the [Contributing Guidelines](https://github.com/ItsRoy69/DocTalk/blob/main/CONTRIBUTING.md)
I will follow the [Code of Conduc

[2022-08-04 14:04] Suman373 commented on #54
the page is merged, close this issue now?

[2022-08-04 14:06] Suman373 opened #74 "Fix the buttons style in the home page"
### What would you like to share?

The design for the buttons in the home page can be made better

### Additional information

The button can be designed using vanilla CSS  ( clean animations would be a plus)

[2022-08-04 16:36] #54 closed

[2022-08-05 00:00] #74 closed

[2022-08-06 16:30] #66 closed

[2022-08-08 14:53] Mahir1015 commented on #6
@ItsRoy69  can you assign it to me?

[2022-08-10 16:08] Mahir1015 commented on #6
#7 @ItsRoy69  The responsiveness of desktop and laptop is fine. So do I just make the homapge responsive in mobile &  tab?

[2022-08-10 17:01] ItsRoy69 commented on #6
Yep.. you need to fix the responsiveness on mobile and tab

[2022-08-11 16:51] Mahir1015 commented on #6
#8 @ItsRoy69 Before making any changes
![Screenshot (38)](https://user-images.githubusercontent.com/66949598/184189731-90b5cfbe-eed8-471b-8de3-bc0a8758c2c8.png)
![Screenshot (36)](https://user-images.githubusercontent.com/66949598/184189723-c29b6f80-9a39-4d9f-a1ea-97581d855f83.png)
![Screenshot (37)](https://user-images.githubusercontent.com/66949598/184189727-4b954d0a-edee-4e40-8f7a-70cceb8664b6.

[2022-08-11 17:21] ItsRoy69 opened #76 "Backend of the doctor signup & signin page"
### Description

Set the Backend of the signup & signin page and connect with frontend

### Screenshots

_No response_

### Additional information

Guidelines ⚠
I will follow the [Setup Guidelines](https://github.com/ItsRoy69/DocTalk/blob/main/rules/Setup.md)
I will follow the [Contributing Guidelines](https://github.com/ItsRoy69/DocTalk/blob/main/CONTRIBUTING.md)
I will follow the [Code of Conduc

[2022-08-11 17:41] ItsRoy69 commented on #6
Well done

[2022-08-12 06:26] #6 closed

[2022-08-13 07:21] Mahir1015 commented on #73
@ItsRoy69 How about providing three options doctor, patient, and donor on the Signup page? There will be three different schemas for the following options inside the user's schema.

[2022-08-13 11:45] ItsRoy69 commented on #73
Yes you can do these changes.. and it'll be great tbh.. thanks for giving the suggestion

[2022-08-13 15:19] #14 closed

[2022-08-13 15:23] ItsRoy69 opened #78 "Backend of signin sigup page of donor section"
### Description

Set the Backend of the signup & signin page of donor and connect with front-end

### Screenshots

_No response_

### Additional information

Guidelines ⚠
I will follow the [Setup Guidelines](https://github.com/ItsRoy69/DocTalk/blob/main/rules/Setup.md)
I will follow the [Contributing Guidelines](https://github.com/ItsRoy69/DocTalk/blob/main/CONTRIBUTING.md)
I will follow the [Code

[2022-08-13 16:53] fk00750 commented on #78
Hey can you assign me this issue?

[2022-08-14 10:26] Mahir1015 commented on #73
Anytime. Assign it to me.

[2022-08-14 15:46] ItsRoy69 opened #79 "Fetching the registered doctors"
### Description

Fetching the registered doctors data to frontend.

### Screenshots

_No response_

### Additional information

Guidelines ⚠
I will follow the [Setup Guidelines](https://github.com/ItsRoy69/DocTalk/blob/main/rules/Setup.md)
I will follow the [Contributing Guidelines](https://github.com/ItsRoy69/DocTalk/blob/main/CONTRIBUTING.md)
I will follow the [Code of Conduct](https://github.co

[2022-08-15 06:34] shamoon1997 commented on #79
@ItsRoy69 do we need to make the API as well. Or you have build the API already.

[2022-08-15 07:18] ItsRoy69 commented on #79
API

[2022-08-15 07:19] ItsRoy69 commented on #79
You'll have to create the api which'll call the backend functions and display it on the frontend

[2022-08-15 08:40] Hansraj8149 commented on #79
Hello, @ItsRoy69 I was looking forward to working on this issue, but first of all, there is no registration page for doctors.
I think first we have to create a registration page then we can fetch the registered doctors from server to client.

[2022-08-16 03:42] warmachine028 commented on #62
I would like to work on this issue

[2022-08-16 04:27] developer-irfan commented on #79
Hansra

Hello @Hansraj8149 I create registration page for doctors where doctors register himself and then fetched from backend.

[2022-08-16 04:47] ItsRoy69 commented on #79
Go for it

[2022-08-16 13:13] developer-irfan commented on #79
hey @ItsRoy69 frontend changes done, now can you provide server .env file? i unable to get it from setting=>secret key. So provide me .env file to finish it

[2022-08-16 15:02] ItsRoy69 commented on #79
create a database .env file from your databse and create a envexample.md file where you'll provide the same .env details just removing the personal info with random credentials so that people working on other files will get an idea about what credentials you've used .

[2022-08-17 03:23] Mahir1015 commented on #73
@ItsRoy69 The schema for the three options will be the same just one or two additional field will be added to each option. Like for doctor a field of degrees will be added and another field for the type of doctor they are. How about that?

[2022-08-17 04:13] fk00750 commented on #78
Hey @ItsRoy69 , do you want to add sing-up/in page for the whole website or only when user do to donors page ????

[2022-08-17 06:38] ItsRoy69 commented on #73
Yeah then in frontend some sections will also be added...sounds good to me

[2022-08-17 08:30] warmachine028 commented on #62
## Can you please review the page which I made and suggest changes, before I create a PR.

1. Desktop View:

![laptop](https://user-images.githubusercontent.com/75939390/185070211-569250f8-7a05-4bf5-a9eb-8858adeb9314.png)

2. Also made the page responsive for all types of devices:

![mobile](https://user-images.githubusercontent.com/75939390/185070355-ae0f2f69-60fb-46d8-999e-fa7df262bc94.png)

![m

[2022-08-17 09:01] ItsRoy69 commented on #62
Looks good to me.. but ambulance picture needs to be changed as there is no input box in the form so there'll be only on picture that'll be generated in every box

[2022-08-17 09:02] warmachine028 commented on #62
Sure! I'll be making the change

[2022-08-17 11:52] #62 closed

[2022-08-17 14:01] warmachine028 commented on #12
I would like to work on this issue

[2022-08-17 22:44] Furkangunduz commented on #59
Hello,
I am working on this by this figma file [here](https://www.figma.com/file/6qxdJMmXpIlXS3sWEAvVt8/Untitled?node-id=0%3A1).

[2022-08-18 16:11] ItsRoy69 opened #82 "Adjust the size of image on footer"
### Description

Adjust the size of the picture on "contact us" section when it is in mobile responsive.

### Screenshots

_No response_

### Additional information

Guidelines ⚠
I will follow the [Setup Guidelines](https://github.com/ItsRoy69/DocTalk/blob/main/rules/Setup.md)
I will follow the [Contributing Guidelines](https://github.com/ItsRoy69/DocTalk/blob/main/CONTRIBUTING.md)
I will follow t

[2022-08-18 16:21] fk00750 commented on #82
Hey can you assign me this issue ?

[2022-08-18 16:32] ItsRoy69 opened #83 "Enhance the UX of the website more beautifully"
### Description

Enhance the UX of the website more beautifully

### Screenshots

_No response_

### Additional information

Guidelines ⚠
I will follow the [Setup Guidelines](https://github.com/ItsRoy69/DocTalk/blob/main/rules/Setup.md)
I will follow the [Contributing Guidelines](https://github.com/ItsRoy69/DocTalk/blob/main/CONTRIBUTING.md)
I will follow the [Code of Conduct](https://github.com/I

[2022-08-19 03:12] aigerimmmm commented on #60
Hey @ItsRoy69 can I work on this issue?

[2022-08-19 05:55] IAmTamal opened #84 "Landing Page - Mobile responsiveness"
### Description

### Landing Page

 The **landing page** needs a little bit more love in mobile responsiveness (take a look at image 1)
 - The header `Doctalk` is hidden almost
 - The button might have been in center
 - Some images are broken as well !

### Screenshots

## Image 1

![image](https://user-images.githubusercontent.com/72851613/185552351-9df7aa27-9c48-4509-ae90-6e99cc33fafd.png)

###

[2022-08-19 06:06] warmachine028 commented on #84
Working on it in #12

[2022-08-19 06:18] IamGuneet commented on #63
Hi,
I d like to work on this issue, could you assign me to it?
@ItsRoy69

[2022-08-19 06:34] IamGuneet commented on #63
@ItsRoy69
I am new to open source, do guide me.

[2022-08-19 07:51] IAmTamal commented on #84
Awesome 🚀

[2022-08-19 07:51] #84 closed

[2022-08-19 08:11] ItsRoy69 commented on #63
Firstly go through the [Setup Guidelines](https://github.com/ItsRoy69/DocTalk/blob/main/rules/Setup.md), [Contributing Guidelines](https://github.com/ItsRoy69/DocTalk/blob/main/CONTRIBUTING.md) and [Code of Conduct](https://github.com/ItsRoy69/DocTalk/blob/main/CODE_OF_CONDUCT.md) , then star and fork this repo. Clone it to your local repository and make the necessary changes

[2022-08-19 11:17] warmachine028 commented on #12
### Current View
|home page| ambulances page |
|:-------:|:-----:|
| ![home](https://user-images.githubusercontent.com/75939390/185602528-78fc475d-c8b5-413e-82c7-d3c06d48106d.jpg)|![ambulance](https://user-images.githubusercontent.com/75939390/185602930-1b9cf894-83ca-4349-898d-4b352e6bddd9.jpg)|

### Should the container padding be preserved like above images ☝️ or it must be removed like the belo

[2022-08-19 11:24] ItsRoy69 commented on #12
The current view looks cleaner as it doesn't gets streched but try to keep helping hand section in even numbers in both lines orelse it'll be hurting the eyes.
Tip : You can add hover effects on helping hand images like https://codesandbox.io/s/p997l6vl00 to make it more attractive

[2022-08-19 13:58] Suman373 commented on #82
Why hacktoberfest label is added to this issue?
@ItsRoy69

[2022-08-19 14:44] ItsRoy69 commented on #82
Search engine

[2022-08-19 19:41] aigerimmmm commented on #60
Hey @ItsRoy69 what do you think about when you hover over bed image you can see the title? or is it better to do similar to Doctors page (showing one column list of available doctors)
![Screenshot1](https://user-images.githubusercontent.com/46799842/185695000-a0b4dbc2-6255-48f2-bf70-76e59892240f.png)

[2022-08-20 00:35] ItsRoy69 commented on #60
This looks cool ngl... Try to deploy on the cloned repo..

[2022-08-20 06:17] warmachine028 commented on #12
Sure! I will retain the Current View.
I have added this hover animation in the helping hand images. Will it be acceptable?
![hover](https://user-images.githubusercontent.com/75939390/185731840-a94ff664-1894-4c68-83a4-c846eff74c78.gif)

[2022-08-20 06:20] ItsRoy69 commented on #12
Looks good to me

[2022-08-20 14:37] #12 closed

[2022-08-21 18:19] audrey2001 commented on #59
Hi,I would love to work on this if it's still open 😊

[2022-08-22 06:20] #82 closed

[2022-08-22 20:27] naman-ng commented on #83
Hi Roy, do you have some specific enhancements in mind.

[2022-08-24 10:42] ItsRoy69 commented on #83
There are many stuffs than can be implemented to improve the UIUX of the website which can be improved

1. The website and footer ssection looks odd
2. About Us section looks oddly big and hurts the user's eyes
3. In hospital bed page we see hospital beds are shown which a user can find to be difficult
4. The homepage can be made attractive by using different designs and colours too

[2022-08-24 10:43] ItsRoy69 opened #88 "Design"
### Description

Someone can suggest a design to improve the UI/UX.
There are many stuffs than can be implemented to improve the UIUX of the website which can be improved

1. The website and footer section looks odd
2. About Us section looks oddly big and hurts the user's eyes
3. In hospital bed page we see hospital beds are shown which a user can find to be difficult
4. The homepage can be made a

[2022-08-24 15:04] Mahir1015 commented on #73
@ItsRoy69  Sorry, I was a bit busy so I couldn't work on it. But I have already started. There is no donor schema. Will it be alright if I add all the fields of the user schema to the donor schema and a few additional fields like blood type and a boolean field about the type of donor they are?

[2022-08-24 15:27] ItsRoy69 commented on #73
Go with it

[2022-08-24 15:50] Mahir1015 commented on #73
Alright I'm removing the donate page and adding the same route to the donor option having the same fields.

[2022-08-25 05:54] rohitroy-github opened #89 "Fix > High Contrast Shadow/BoldText > [Get In Touch] Button"
### Description

The [Get In Touch] Button is having a high contrast [Shadow/Boldness] which is hurting the eyes.
Shadow/ Boldness on the text can be decreased a bit.

### Screenshots

![issue1](https://user-images.githubusercontent.com/68563695/186585636-6d572c36-ae28-4560-9336-65cae595eb1a.PNG)

### Additional information

_No response_

[2022-08-27 14:14] Mahir1015 commented on #73
@ItsRoy69 In which directory did you save env file?

[2022-08-27 15:38] ItsRoy69 commented on #73
.env file is protected so it can't be shared like that.. so use use own .env credentials in server folder while running and also if you wanna help others then you can create a ".envexample" file and write all those env credentials halfway... So that password doesn't gets leaked as well as others can get way which credentials to put.... other contributors can get it and work on it.

[2022-08-27 18:05] VasuDevrani opened #90 "Darkmode-feature request"
### Description

Hey!!
I guess we should add a dark mode to the website, that would improve the user experience.
Please assign this task to me.

Thanks

### Screenshots

_No response_

### Additional information

_No response_

[2022-08-28 03:56] audrey2001 commented on #59
hi, done with it and i sent a PR already

[2022-08-28 06:17] Mahir1015 commented on #73
![Screenshot (48)](https://user-images.githubusercontent.com/66949598/187060419-1838f3e9-f491-44a6-83ef-da5f0c4ff63a.png)
![Screenshot (49)](https://user-images.githubusercontent.com/66949598/187060422-bc1b70be-fa6e-4f50-b4a1-6146e697ed11.png)
![Screenshot (50)](https://user-images.githubusercontent.com/66949598/187060424-4b260aa7-e188-410a-a01c-3a7377869871.png)
I've completed backend of the sign

[2022-08-28 07:36] Mahir1015 commented on #73
![Screenshot (51)](https://user-images.githubusercontent.com/66949598/187063197-8fa3a0e1-6a48-4f7e-986b-023e22bfb7f8.png)
![Screenshot (52)](https://user-images.githubusercontent.com/66949598/187063201-0060abc5-511d-48d3-8e4c-5267fb2dba7b.png)
![Screenshot (53)](https://user-images.githubusercontent.com/66949598/187063204-d52756a3-84c9-466a-947d-61510c7dc5cf.png)
I've fixed the backend of all thre

[2022-08-28 15:17] Mahir1015 opened #92 "Improve UI/UX of signup pages"
### Description

UI/UX of all the signup pages needs to be improved.
1. Change the fonts.
2. The aspect ratio of the input fields needs to be better.
3. The icons look unappealing.

### Screenshots

_No response_

### Additional information

_No response_

[2022-08-28 16:27] #59 closed

[2022-08-29 23:35] Mahir1015 commented on #73
@ItsRoy69

[2022-08-30 03:39] ItsRoy69 commented on #73
Looks good to me.. make a PR ..

[2022-08-30 04:47] #90 closed

[2022-08-30 14:21] Mahir1015 commented on #76
@ItsRoy69 close it.

[2022-08-30 14:21] Mahir1015 commented on #73
@ItsRoy69 close it.

[2022-08-30 16:13] #73 closed

[2022-08-30 16:13] #78 closed

[2022-08-30 16:13] #76 closed

[2022-08-30 17:28] #89 closed

[2022-08-31 08:50] Mahir1015 commented on #92
@ItsRoy69 I worked on the signup pages but there were no signin/login pages  I couldn't work on them. So I'm raising issues for the signin/login pages. Assign them to me. I'll work on those.

[2022-08-31 08:55] Mahir1015 opened #95 "Fix: Both backend and frontend of doctor's signin/login page"
### Description

1. Create a sign-in/login page for doctors.
2. Add it to the existing route.

### Screenshots

_No response_

### Additional information

_No response_

[2022-08-31 08:56] Mahir1015 opened #96 "Fix: Both backend and frontend of patient's signin/login page"
### Description

1. Create a sign-in/login page for patients
2. Add it to the existing route.

### Screenshots

_No response_

### Additional information

_No response_

[2022-08-31 08:57] Mahir1015 opened #97 "Fix: Both backend and frontend of donor's signin/login page"
### Description

1. Create a sign-in/login page for donors.
2. Add it to the existing route.

### Screenshots

_No response_

### Additional information

_No response_

[2022-08-31 15:30] warmachine028 opened #98 "Issues with issue templates 📑"
### Description

- The issue template for general feature suggestions show `Milan` instead of `Doctalk`

- Your Twitter link is not attached correctly in others Issue template

### Screenshots

- 1.
![Screenshot_2022-08-31-20-55-26-44_40deb401b9ffe8e1df2f1cc5ba480b12](https://user-images.githubusercontent.com/75939390/187717393-75ff272d-bbfa-428b-bebd-5aed99a1d751.jpg)

- 2.
![Screenshot_2022-08-3

[2022-08-31 16:09] #98 closed

[2022-08-31 17:26] #61 closed

[2022-09-01 16:16] rohitroy-github opened #100 "Create Oxygen Supplier Page !"
### Description

New page needs to be created. Make updates to the previous page.

### Screenshots

_No response_

### Additional information

_No response_

[2022-09-01 16:19] rohitroy-github commented on #100
I'm working on the updates.

[2022-09-01 17:29] rohitroy-github commented on #100
![image](https://user-images.githubusercontent.com/68563695/187976159-e1319263-921d-4aaf-811e-546f3525a303.png)

There's again a deployment error. It's working completely fine on my locals. Can you inspect the deployment error message and let me know what going wrong ?

[2022-09-01 17:32] #100 closed

[2022-09-01 19:43] rohitroy-github opened #102 "Create New Oxygen Supplier Page"
### Description

Design a new Oxygen Supplier page.

### Screenshots

_No response_

### Additional information

_No response_

[2022-09-01 19:43] rohitroy-github commented on #102
I'm trying to fix it.

[2022-09-03 07:13] Mahir1015 commented on #92
![Screenshot (58)](https://user-images.githubusercontent.com/66949598/188260220-bdd40d23-1d51-4159-9b96-685cfe4b6d1c.png)
![Screenshot (59)](https://user-images.githubusercontent.com/66949598/188260223-e2930321-fd9b-4730-85da-b296c345bdd7.png)
![Screenshot (60)](https://user-images.githubusercontent.com/66949598/188260224-9b2ab1bd-4e31-4b71-a0f8-6379d98ddaf8.png)
![Screenshot (61)](https://user-im

[2022-09-03 07:15] Mahir1015 commented on #92
![Screenshot (62)](https://user-images.githubusercontent.com/66949598/188260309-81ab45d8-0c75-4130-a503-a2e3a95c48aa.png)
![Screenshot (63)](https://user-images.githubusercontent.com/66949598/188260313-ffc0040a-7cb1-4efa-b5cc-dd2b464ab96a.png)
![Screenshot (64)](https://user-images.githubusercontent.com/66949598/188260314-ac79167d-c109-4d1d-9cdd-10ef379c49c2.png)
![Screenshot (65)](https://user-im

[2022-09-03 07:17] Mahir1015 commented on #92
![Screenshot (66)](https://user-images.githubusercontent.com/66949598/188260376-04beb368-b228-4dee-a8c2-4086932b679c.png)
![Screenshot (67)](https://user-images.githubusercontent.com/66949598/188260378-4de4e9de-93c6-4a7c-932f-4f6f07986a2c.png)
![Screenshot (68)](https://user-images.githubusercontent.com/66949598/188260379-7df8b233-b85e-4b66-85b1-a2e0b33b03a2.png)
![Screenshot (69)](https://user-im

[2022-09-03 07:37] ItsRoy69 commented on #92
Use some vectors to make it look better

[2022-09-03 07:53] Mahir1015 commented on #92
@ItsRoy69 to the input fields?

[2022-09-05 04:38] #102 closed

[2022-09-05 04:38] ItsRoy69 opened #105 "Debug "OxygenSupplier.js""
### Description

There is some bug in the "OxygenSupplier" page which creates an issue in deployment as you can see in "3fb0540a296f2b143c28c03e4ffb7f8bcf6aa6c0" commit . Try to debug

### Screenshots

![2022-09-05 (1)](https://user-images.githubusercontent.com/78967360/188361435-11969f24-d0f0-42f8-a0c4-4c7916e15e75.png)

### Additional information

Guidelines ⚠
I will follow the [Setup Guidelines

[2022-09-06 17:26] Vansh-Baghel commented on #97
If I create only front-end will it do?

[2022-09-06 17:29] Vansh-Baghel commented on #97
If I only create the front-end , will it do?

[2022-09-06 18:17] ItsRoy69 commented on #97
Every contribution countd

[2022-09-07 03:52] Mahir1015 commented on #97
Sorry what? I didn't get it

[2022-09-07 06:11] Vansh-Baghel commented on #97
1. So what **input fields** do uall need in all the 3 registration pages? Like name , age, etc etc.
2. Do ya'll want all the three on separate pages or want it in a single page as a dropdown? so that people can select registration type from the same page.

[2022-09-07 06:26] Mahir1015 commented on #97
@Vansh-Baghel it's already been fixed. I'll close this issue as soon as I make the PR. If you want to work on front end wait let me tag you on another issue.

[2022-09-07 06:27] Mahir1015 commented on #63
@Vansh-Baghel you can work on this

[2022-09-07 07:26] Vansh-Baghel commented on #97
Oh ok! How can I know that an issue has been fixed or not? Like I am new at contributing so need to understand

[2022-09-07 12:01] Vansh-Baghel opened #106 "Donate page"
### What would you like to share?

* The **SVG** images looks too big for a professional website.
* The input field **text color** doesnt change while typing .
* The **outline** of the box could be changed after selection of that field.

### Additional information

_No response_

[2022-09-07 18:00] bandya2003 commented on #88
I'm currently exploring UI/UX in Canva and Figma , I would like to give it try to improve the interface of the web app

[2022-09-08 02:45] Klaha commented on #105
@ItsRoy69
I'd like to take a look at this bug if you allow me too 🙏🏻

[2022-09-08 03:08] ItsRoy69 commented on #105
Go for it

[2022-09-08 13:37] Mahir1015 commented on #97
Well usually the issue is closed as soon as it's resolved but in cases like this you can only know when you ask for assigning the issue to you.

[2022-09-08 14:50] Mahir1015 commented on #92
![Screenshot (70)](https://user-images.githubusercontent.com/66949598/189154081-95cd6e3f-115b-48b2-8e66-ccf060d1332e.png)
![Screenshot (72)](https://user-images.githubusercontent.com/66949598/189154097-20042c2e-81ec-45ed-a3f8-250b1dcf9a42.png)
![Screenshot (73)](https://user-images.githubusercontent.com/66949598/189154102-cd95288f-fd27-4f94-a90d-cfd1cbeafeb8.png)
![Screenshot (74)](https://user-im

[2022-09-08 14:52] Mahir1015 commented on #92
![Screenshot (70)](https://user-images.githubusercontent.com/66949598/189154372-4a429e2d-de0e-445d-8c71-36bff2397756.png)
![Screenshot (73)](https://user-images.githubusercontent.com/66949598/189154385-3c9c16d4-ee61-42dd-9aed-240745ff0828.png)
![Screenshot (74)](https://user-images.githubusercontent.com/66949598/189154392-7094d090-55aa-4c09-834a-82c46a3296b0.png)
![Screenshot (75)](https://user-im

[2022-09-08 14:53] Mahir1015 commented on #92
![Screenshot (70)](https://user-images.githubusercontent.com/66949598/189154713-14bb9c95-ed84-41ed-ae19-e306de9df0a7.png)
![Screenshot (73)](https://user-images.githubusercontent.com/66949598/189154728-32d87620-0d09-453a-9299-fd5ba345fa05.png)
![Screenshot (74)](https://user-images.githubusercontent.com/66949598/189154734-275735e2-eb91-49b1-8553-4e8931ae02d2.png)
@ItsRoy69 is it okay now?

[2022-09-08 15:56] #106 closed

[2022-09-08 16:16] Vansh-Baghel commented on #106
@ItsRoy69 hey i made the changes for this issue yesterday and raised a PR, why did recognise it?

[2022-09-08 16:17] Vansh-Baghel commented on #106
Ah i spent sm time on that 👀 , feels bad @ItsRoy69

[2022-09-08 17:08] Vansh-Baghel opened #109 "DonatePlasma Changes"
### What would you like to share?

On issue #106, the changes I made were very much completed wrt UI. Its PR number was #107 which is still pending and I see another PR being merged for the same issue and issue has been closed.Also @ItsRoy69 assigned me for it. Whats the reason of not accepting #107 ?

### Additional information

_No response_

[2022-09-08 17:21] ItsRoy69 commented on #109
There has been some bug in the page.. that'll be solved.. and your PR will be merged so that it gets deployed .

[2022-09-08 17:37] #92 closed

[2022-09-08 17:38] #97 closed

[2022-09-08 17:38] #96 closed

[2022-09-08 17:38] #95 closed

[2022-09-11 03:44] #105 closed

[2022-09-11 04:09] #109 closed

[2022-09-11 04:12] ItsRoy69 opened #112 "Debug the website"
### Description

There is some bug in the page which creates an issue in deployment as you can see in "0348b0a9522881ccc4e458c1fdffc22a6150d63f" commit . Try to debug

### Screenshots

![2022-09-11](https://user-images.githubusercontent.com/78967360/189512056-e9533991-0fc2-4424-ba03-dd117e041efa.png)

### Additional information

Guidelines ⚠
I will follow the [Setup Guidelines](https://github.com/

[2022-09-11 06:10] RoySounak commented on #112
Hello, according to this post it seems like two times import has been done in App.js. This will be my contribution if you allow me to do.

[2022-09-11 06:38] RoySounak commented on #112
@ItsRoy69 after fixing this above issue, I have faced some CSS issues for which the web app is not rendering.
![image](https://user-images.githubusercontent.com/60769490/189515536-b7711aa6-69ec-4507-9206-ec4c8b296bb1.png)

Will I fix those issues too?

[2022-09-11 14:46] rohitroy-github commented on #112
Is the issue solved ?

[2022-09-11 14:48] ItsRoy69 commented on #112
Nope

[2022-09-11 15:57] RoySounak commented on #112
@ItsRoy69 Can you tell why the vercel deployment got fail?

[2022-09-11 23:18] Klaha commented on #112
@ItsRoy69
I know this is not my issue, but I've fixed the vercel build error con this PR
https://github.com/ItsRoy69/DocTalk/pull/115

Also, be aware when merging latest changes; as 0348b0a9522881ccc4e458c1fdffc22a6150d63f introduced a plethora of weird characters that broke the build, and 20296bae05f9392b41edb6ac4b84a2d8207c15a3 introduced code duplicates.

[2022-09-12 01:22] #112 closed

[2022-09-12 05:05] RoySounak opened #116 "Oxygen Supplier page is not rendering as expected."
### Description

Issue in .css file.

### Screenshots

![image](https://user-images.githubusercontent.com/60769490/189577414-801c0c6c-d831-4b01-8c2e-9ec2c72ad7b5.png)

![image](https://user-images.githubusercontent.com/60769490/189577519-02877fd6-acd6-4afb-8410-138834b5f8aa.png)

### Additional information

_No response_

[2022-09-12 05:05] RoySounak commented on #116
@ItsRoy69 May I fix this issue?

[2022-09-15 11:51] Tamir198 opened #117 "[DOCS] copyrights or typo?"
### Description

Hey, I have noticed that there is a `c` at the bottom of the README (first image), is this a mistake or support to be copyrighted (second image)?

If this is copyrights maybe change it to the copyrights symbol?

### Screenshots

![image](https://user-images.githubusercontent.com/34707669/190395614-20446545-fe8a-43ec-997c-0eb5f3f08666.png)
![image](https://user-images.githubusercon

[2022-09-16 11:50] Mahir1015 opened #118 "Fix: Congruence of contact form"
### Description

Make the contact form congruent to other forms.

### Screenshots

![Screenshot (76)](https://user-images.githubusercontent.com/66949598/190632615-37349c82-5c01-40fb-8947-bd819e48258c.png)
![Screenshot (77)](https://user-images.githubusercontent.com/66949598/190632625-4f637f8f-fa18-4fc9-953d-b0b6b71b1da3.png)

### Additional information

_No response_

[2022-09-17 04:35] Mahir1015 commented on #118
@ItsRoy69 assign it to me. Let me fix it.

[2022-09-17 04:38] ItsRoy69 commented on #117
Typo...there needed to write "Please give a star to support"

[2022-09-18 12:45] #118 closed

[2022-09-20 12:42] Mahir1015 opened #120 "Fix: Donors page"
### Description

1. Fix the design of donors page

### Screenshots

![Screenshot (12)](https://user-images.githubusercontent.com/66949598/191260338-2b671b5c-6761-4d5b-98e7-e02cb2dcb542.png)
![Screenshot (13)](https://user-images.githubusercontent.com/66949598/191260355-1925b717-36c7-42f4-86d1-489a70ab4451.png)

### Additional information

_No response_

[2022-09-20 14:20] ItsRoy69 commented on #116
do it

[2022-09-21 10:08] Mahir1015 opened #121 "Fix: Congruence of Ambulance Supplier Registration"
### Description

![Screenshot (30)](https://user-images.githubusercontent.com/66949598/191477524-91360f33-ccec-4ccc-9772-340be84390d1.png)

### Screenshots

_No response_

### Additional information

_No response_

[2022-09-21 10:11] Mahir1015 opened #122 "Fix: Congruence of Oxygen Supplier Registration"
### Description

![Screenshot (58)](https://user-images.githubusercontent.com/66949598/191478177-fdb977d7-16d1-4219-b470-90a3c1a10ddc.png)

### Screenshots

_No response_

### Additional information

_No response_

[2022-09-21 10:12] Mahir1015 opened #123 "Fix: Congruence of Medicine Supplier Registration"
### Description

![Screenshot (59)](https://user-images.githubusercontent.com/66949598/191478404-6af27ecd-c9b1-469c-9b1b-a401f0a67834.png)

### Screenshots

_No response_

### Additional information

_No response_

[2022-09-21 10:13] Mahir1015 opened #124 "Fix: Congruence of Hospital Bed Supplier Registration"
### Description

![Screenshot (60)](https://user-images.githubusercontent.com/66949598/191478642-f525325b-bf32-45ef-88a5-ec98e2114e21.png)

### Screenshots

_No response_

### Additional information

_No response_

[2022-09-24 04:50] #121 closed

[2022-09-24 04:50] #122 closed

[2022-09-25 02:42] #124 closed

[2022-09-25 02:43] #123 closed

[2022-09-25 02:46] Mahir1015 opened #127 "Fix: Backend of Ambulance Supplier Registration"
### Description

Connect it to the server.

### Screenshots

_No response_

### Additional information

_No response_

[2022-09-25 02:47] Mahir1015 opened #128 "Fix: Backend of Oxygen Supplier Registration"
### Description

Connect it to the server.

### Screenshots

_No response_

### Additional information

_No response_

[2022-09-26 03:46] Mahir1015 opened #129 "Fix: Backend of Medicine Supplier Registration"
### Description

Connect it to the server.

### Screenshots

_No response_

### Additional information

_No response_

[2022-09-26 03:47] Mahir1015 opened #130 "Fix: Backend of Hospital Bed Supplier Registration"
### Description

Connect it to the server.

### Screenshots

_No response_

### Additional information

_No response_

[2022-09-26 06:19] #117 closed

[2022-09-26 06:19] #71 closed

[2022-09-26 06:20] #60 closed

[2022-10-01 05:14] ask-1710 commented on #130
@ItsRoy69 I would like to work on this issue.

[2022-10-01 05:17] Mahir1015 commented on #130
@ask-1710 It's already been fixed. I'm about to make a PR.

[2022-10-01 05:18] #128 closed

[2022-10-01 05:18] #127 closed

[2022-10-01 05:18] ask-1710 commented on #130
@Mahir1015 Okay, thanks for the update!

[2022-10-01 06:44] #130 closed

[2022-10-01 06:44] #129 closed

[2022-10-01 08:16] harshit0571 opened #133 "[FEATURE] Containerize the project"
### Description

hi, we can containerize the project using docker. This will make the project easy to setup in local envirment.
Just by using `docker-compose up` we can launch the project ,both frontend and backend.

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-01 08:22] satyamgupta1495 commented on #120
Hey Mahir, I'd like to work on this issue!

[2022-10-01 16:18] harshit0571 commented on #133
can you asign this to me please!!!

[2022-10-02 03:27] #120 closed

[2022-10-02 03:29] MahirMahdi opened #135 "Fix: Backend of Contact form"
### Description

Connect it to the server.

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-02 06:55] Suman373 opened #136 "Fix: Hero section design"
### Description

The hero section can be improved in terms of spacing when in both larger and smaller screens.

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-02 06:55] Suman373 commented on #136
I could work on this

[2022-10-02 08:07] warmachine028 commented on #63
If this issue is open, I would like to work on it

[2022-10-02 12:32] harshit0571 commented on #133
hi @ItsRoy69 , i have send the pr please check!!

[2022-10-04 01:09] Mahir1015 opened #138 "Fix: Add links to the services and help section of the footer."
### Description

Add links to the services and help list to render the necessary page.

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-04 04:22] harshit0571 commented on #133
Can you please add hacktober fest accepted label to my pull request.
Otherwise it won't be accepted by hacktober fest

[2022-10-04 14:17] ask-1710 opened #140 "UI Issue with rendering images of hostpital beds"
### What would you like to share?

@ItsRoy69
In the Hospital Bed page, two columns of beds are rendered and the logic behind rendering the same does not work well when there are odd number of images.  I want to fix the issue by using bootstrap's responsive grid layout.

Please have a look at this image to understand the issue.

![issue_image](https://user-images.githubusercontent.com/73017319/1938

[2022-10-05 04:28] #138 closed

[2022-10-06 05:10] #140 closed

[2022-10-06 16:29] RajatChaudhary01 opened #142 "[DOCS] add setup with docker"
### Description

there is no setup intructions for docker and we can add that

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-06 16:30] RajatChaudhary01 commented on #142
asign to me

[2022-10-07 07:02] #136 closed

[2022-10-07 21:26] tanitoluwam commented on #83
Hi, could you assign me to this please, i would love to work on it

[2022-10-08 04:11] ask-1710 commented on #116
@RoySounak are you still working on this issue? If not, I want to work on it.

[2022-10-08 04:14] #142 closed

[2022-10-08 04:15] #133 closed

[2022-10-08 12:26] #116 closed

[2022-10-09 05:02] Parth-ops opened #147 "[DOCS]Update README.md"
### Description

Current README.md is outdated. The picture and description of the application is not updated.

### Screenshots

Current picture:
![image](https://user-images.githubusercontent.com/63533466/194738813-369e2006-326b-4af0-b30a-4dd10751669f.png)

Updated picture:
![image](https://user-images.githubusercontent.com/63533466/194738819-c08cc6d3-3c48-4fbd-b681-36e9d5448338.png)

### Additio

[2022-10-09 05:07] Parth-ops commented on #147
@ItsRoy69 a "hacktoberfest" label for this issue would be highly appreciated.

[2022-10-09 12:04] #147 closed

[2022-10-15 13:23] AliFahed opened #149 "[DOCS] Typos in README.md"
### Description

**There are Typos in README.md, in the paragraph marked red below it should have no spaces before a comma.**
- Below is the screenshot and the exact places of the typos.

### Screenshots

![typo_in_readme](https://user-images.githubusercontent.com/90851899/195988691-d9437521-8604-435a-8407-d7f076dba754.png)

### Additional information

_No response_

[2022-10-17 17:07] #149 closed